.cardWrapper{
    font-family: 'Syncopate', sans-serif;
    background-color: #e5e5e5 ;
    width:60%;
    min-height:140px;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 5px;
}

.cardWrapper:hover{
    background-color: #bdbbbb;
    transition: 0.3s;
} 

.questionTitle{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.link{
    text-decoration: none;
    color: #424040;
}

.cardCreation{
display:flex;
flex-direction: row;
justify-content: space-between;
font-weight: 600;
gap:20px;

}